{% extends 'base.html' %} {% block title %} Error Message {% endblock %} 

{% block icon %} 

<a class="miFinance text navbar-brand" href="/">MiFinance</a>

{% endblock %}

{% block logout %}

<a class="text nav-link" href="/register">Register</a>
</span>
<span class="navbar-text">
  <a class="text nav-link" href="/login">Login</a>

{% endblock %}

{% block content %}

<div
  class="container d-flex justify-content-center flex-column p-5 text-center"
>
  <h1 id="errorLocation" class="p-2">Look below for error details</h1>
  <img id="errorImage" src="static/images/Error!.png" />
  <h1 id="errorMessage" class="mt-4">{{ bottom }}</h1>
</div>

{% endblock %}
