{% extends 'base.html' %} {% block title %} index {% endblock %} {% block icon
%}

<a class="miFinance text navbar-brand" href="/loggedIndex">MiFinance</a>

{% endblock %} {% block nav %}

<li>
  <a class="text nav-link active" aria-current="page" href="/data">Data</a>
</li>
<li class="nav-item">
  <a class="text nav-link" href="/journal">Journal</a>
</li>
<li class="nav-item">
  <a class="text nav-link" href="/quick_add">Quick Add</a>
</li>

{% endblock %} {% block logout %}

<a id="logoutButton" class="text nav-link" href="/logout">Logout</a>

{% endblock %} {% block content %}

<div class="appDescription container p-5">
  <div class="row">
    <div class="col text-center">
      <h1>How to use MiFinance</h1>
    </div>
  </div>
  <div class="row mb-4 p-5 pt-4">
    <h4>Data</h4>
    <p>
      Upon login, the user will be presented with a pie chart and line chart.
      The pie chart has no real values yet because the user did not input any,
      and the same is true of the line chart. The pie chart shows distribution
      of how you spend your money for the current month. The line chart shows
      your monthly spendings. At the very top, you have the ability to input
      cash. The cash amount does not affect the data. Essentially, this number
      should mirror your bank account!
    </p>

    <h4>Journal</h4>
    <p>
      The <strong>Journal</strong> section is where you will be keeping track of
      every transaction. It is important to note that to write a successful
      journal entry, you must input the month number, transaction type,
      transaction name, and price. When you click submit, the transaction should
      be displayed below. When you click to see the data, data will only be
      shown for the current month.
    </p>

    <h4>Quick Add</h4>
    <p>
      This is my favorite section. This app is very smart by detecting three or
      more of the same purchases. Be careful, for this to work, those three
      purchases must be spelled the exact same way!
    </p>
  </div>
</div>

{% endblock %}
