{% extends 'base.html' %} {% block title %} index {% endblock %} 

{% block icon %} 

<a class="miFinance text navbar-brand" href="/">MiFinance</a>

{% endblock %}

{% block logout %}

<a class="text nav-link" href="/register">Register</a>
</span>
<span class="navbar-text">
  <a class="text nav-link" href="/login">Login</a>

{% endblock %}






{% block content %}

<form class="text-center mt-5 p-3" action="/register" method="post">
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control form-control-lg mx-auto w-auto"
      name="name"
      placeholder="Name"
      type="text"
    />
  </div>
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control form-control-lg mx-auto w-auto"
      id="username"
      name="username"
      placeholder="Username"
      type="text"
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control form-control-lg mx-auto w-auto"
      id="password"
      name="password"
      placeholder="Password"
      type="password"
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control form-control-lg mx-auto w-auto"
      id="password"
      name="confirmation"
      placeholder="Password (again)"
      type="password"
    />
  </div>
  <button class="btn btn-primary" type="submit">Register</button>
</form>

{% endblock %}
